.proModeContainer {
  position: "relative";
  overflow: auto;
  padding: 10px;
  max-width: unset;

  &::-webkit-scrollbar {
    display: none;
  }

  .row.row_contextSelected {
    display: flex;

    @media screen and (max-width: 594px) {
      flex-wrap: wrap;
    }
  }
}
