.news {
    .oneNews {
        flex: 0 1 32%;
        margin-left: 1rem;

        @media screen and (max-width: 1280px ) {
            flex: 0 1 48%;
            margin-left: 1rem;
        }
        
        @media screen and (max-width: 1023px ) {
            flex: 0 1 45%;
            margin-left: 1rem;
        }

        @media screen and (max-width: 720px ) {
            flex: 0 1 100%;
            margin-left: 0;
        }
    }
}